pkgbase = apocrypha-bin
	pkgdesc = Linux-first mod manager for Steam and Proton games, with journaled, reversible deployment
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/Apocrypha-Mods/apocrypha
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	optdepends = steam: game and Proton prefix discovery
	optdepends = xdg-utils: opening mod pages and folders in your browser and file manager
	provides = apocrypha
	conflicts = apocrypha
	options = !strip
	options = !debug
	source = apocrypha-bin-0.4.0.deb::https://github.com/Apocrypha-Mods/apocrypha/releases/download/v0.4.0/Apocrypha_0.4.0_amd64.deb
	source = LICENSE-0.4.0::https://raw.githubusercontent.com/Apocrypha-Mods/apocrypha/v0.4.0/LICENSE
	sha256sums = 08fc7e104ecd33af2d6ae8a3170407297a2f1a0055eb5a1a8d92aef571389585
	sha256sums = c26ee76fd1a151b20ad7008b3e5850fb395541ecaa10b96e7d68b14da5823034

pkgname = apocrypha-bin
