[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}} %u
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
StartupWMClass={{name}}
StartupNotify=true
Keywords=mods;modding;nexus;proton;steam;monster hunter;cyberpunk;
MimeType=x-scheme-handler/nxm;
